<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>登录页面</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>用户登录页面</h1>
<form action="" method="post">
    <p><span>用户名：</span><input type="text" id="text"></p>
    <p><span>密 码：</span><input type="password" id="password"></p>
    <p><input type="button" value="登录" id="login"></p>
</form>
<span>尚未注册的用户，请<a href="zhuce.html">注册</a></span>
<script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>